.home-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(96, 148, 232);
    height: 155px;
}

.footer-title {
    display: flex;
    margin-bottom: 25px;
}

.footer-title h1 {
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
    margin: 15px 0px 10px 0px;
    
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.footer-links a {
    font-size: 15px;
    font-family: 'Permanant Marker', cursive;
}
