.carousel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 380px;
    margin: 50px 50px 40px 50px;

}

.inner {
    white-space: nowrap;
    transition: transform .99s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 333px;
}

.carousel-item img {
    position: absolute;
    height: 400px;
    width: 300px;
}

.carousel-item h1 {
    position: relative;
    font-family: 'Permanant-Marker', cursive;
    font-size: 20px;
    color: white;
}