.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 228, 26);
    height: 130px;
}

.home-header h2 {
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    margin: 7px 0px 7px 0px;
    height: 55px;
} 
